/* Base Application Styles */
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.collection .order img {
  width: 80px;
  height: 80px;
}
.i_photo, .i_photo img{
	width: 105px;
	height: 105px;
}
.roudend {
  border-radius: 50%;
}
.last-used {
  background-color: #CC3333;
  padding: 15px;
}
.order {
  height: 105px;
  width: 100%;
}
/* Descições das comidas */
.d_food {
	color: #fff;
	margin-left: 10px;
}
.df_title {
	font-size: 13px;
}
.df_name {
	font-size: 20px;
	padding-top: 3px;
	font-weight: bolder;
}
/* Descrições das mesas  */
.d_mesa {
	color: #fff;
	text-align: center;
}
.dm_number {
	font-size: 50px;
	font-weight: bolder;
}
.row{
	margin-bottom: 0;
}
.collection{
	margin-top: 0;
}
.order .description{
	position: relative;
	line-height: 80px;
  font-size: 20px;
}
.order .usename{
	font-size: 20px;
	position: relative;
	line-height: 80px;
	float: right;
}
.order .date{
	font-size: 30px;
	line-height: 80px;
}